

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
    box-sizing: border-box;
}
body {
	font-family: Verdana, Arial, sans-serif;
	width: 100%;
	height: 100%;
    min-width: 1024px;
	background-image: url(../images/bg-body.jpg);
    color: #363636;
}
.wrapper {
    
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}
h1, h2 {
    color: #646464;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: DIN, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
p, .footer {
    font-size: 11px;
}
strong {
    font-weight:bold;
}
/* something wrong, i can't use it*/
@font-face {
    font-family: "DIN";
    src: url(font/DIN-LightAlternate.ttf);
    font-style: normal;
   }
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
    padding-top: 45px;
	white-space: nowrap;
}
a.logo{
    width: 102px;
    height: 63px;
}
.logo img{
	width: inherit;
	height: inherit;
}
div.phone {
    left: 880px;
    top: -50px;
    width: 100px;
    position: relative;
}
.phone span {
    display: block;
    font-size: 18px;
	color: #707070;
    box-sizing: border-box;
}
.phone span:last-child {
    font-size: 25px;
    width: 140px;
    font-family: DIN, Verdana, sans-serif;
}
.phone_num {
    text-decoration: none;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
 .middle:after {
	display: table;
	clear: both;
	content: '';
} 
.container {
	width: 100%;
    float: left;
	overflow: hidden;
	position: relative;
    margin-bottom: 50px;
    display: inline-block;
    box-sizing: border-box;
}
.content {
	padding: 0 0 0 260px;
    height: auto;
    width: auto;
    box-sizing: border-box;
}
.article p {
    margin-top: 10px;
}
.article section{
    margin: 20px 0;
    overflow: visible;
}
.about {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    vertical-align: top;
    box-sizing: border-box;
    white-space: nowrap;
}
.about:last-of-type-of-type {
    overflow: visible;
}
.about li {
    margin: 16px 0;
    overflow: visible;
}
.about span {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}
.about .about_img {
    display: inline-block;
    background-color: #363636;
    width: 78px;
    height: 78px;
    overflow: hidden;
    text-align: center;
    
}
.about img {
    width: auto;
    height: 78px;
    vertical-align: middle !important;
}
.about p {
    display: inline-block;
    margin-top: 0px;
    margin-left: 4px;
	overflow: hidden;
  	white-space: pre-line;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	width: 200px;
    margin-left: -100%;
	position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-transform: uppercase;
	font-family: DIN, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 300;    
}
.left-sidebar .menu-item a {
    text-decoration: none;
	color: #363636;
}
.left-sidebar .menu-item a:hover {
    background-color: #707070;
    color: #fff;
}
.left-sidebar .menu-item a:active {
    background-color: #707070;
    color: #fff;
}
.mainmenu  .menu-item{
	overflow: hidden;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1024px;
	margin: -100px auto 0;
	height: 100px;
	border-top: 1px solid rgba(112, 112, 112, 0.47);
	position: relative;

}
.footer div {
    display: inline-block;
    color: #707070;
    margin-top: 40px;
    margin-right: 20px;
    vertical-align: top;
}
.footer a{
    text-decoration: underline;
    color: #707070;
}

.footer p {
    margin-bottom: 4px;
}

.footer .vacancy {
    text-transform: lowercase;

}